<nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
  <%= content_tag :span, class: 'text-sm font-normal text-gray-500' do %>
    <%== pagy_info(pagy) %>
  <% end %>

  <ul class="inline-flex items-stretch -space-x-px">
    <% if pagy.prev -%>
      <li>
        <%= link_to pagy_url_for(pagy, pagy.prev), class: 'flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700' do %>
          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
          </svg>
        <% end %>
      </li>
    <% end -%>
    <% pagy.series.each do |item| -%>
      <% if item.is_a?(Integer) -%>
        <li>
          <%= link_to item, pagy_url_for(pagy, item), class: 'flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700' %>
        </li>
      <% elsif item.is_a?(String) -%>
        <li>
          <%= content_tag :span, item, class: 'flex items-center justify-center text-sm z-10 py-2 px-3 leading-tight text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700' %>
        </li>
      <% elsif item == :gap -%>
        <%= content_tag :span, '...', class: 'flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700' %>
      <% end -%>
    <% end -%>
    <% if pagy.next -%>
      <li>
        <%= link_to pagy_url_for(pagy, pagy.next), class: 'flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700' do %>
          <span class="sr-only">Next</span>
          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
          </svg>
        <% end %>
      </li>
    <% end -%>
  </ul>
</nav>
