<div style='padding: 1rem'>
  <h1>Nowe ogłoszenia</h1>
  <%= content_tag :h3, "Dodane ogłoszenia: #{@products.size}" %>
  <div role="article" aria-roledescription="email" aria-label lang="pl">
    <div class="sm-rounded-lg" style="position: relative; overflow-x: auto; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1)">
      <table style="width: 100%; text-align: left; font-size: 14px; color: #6b7280" cellpadding="0" cellspacing="0" role="presentation">
        <thead style="background-color: #f9fafb; font-size: 12px; text-transform: uppercase; color: #374151">
        <tr>
          <%= content_tag :th, Product.human_attribute_name(:thumbnail_url), style: 'padding: 12px 24px', scope: 'col' %>
          <%= content_tag :th, Product.human_attribute_name(:title), style: 'padding: 12px 24px', scope: 'col' %>
          <%= content_tag :th, Product.human_attribute_name(:price), style: 'padding: 12px 24px; white-space: nowrap;', scope: 'col' %>
        </tr>
        </thead>
        <tbody>
        <% @products.each_with_index do |product, index| %>
          <%= content_tag :tr, style: "border-bottom-width: 1px; #{index.even? ? 'background-color: #fff' : 'background-color: #f9fafb'}" do %>
            <%= content_tag :td, style: 'padding: 16px 24px;' do %>
              <%= link_to product.product_url, style: 'font-weight: 500; color: #2563eb;' do %>
                <%= email_image_tag product.thumbnail_url, style: 'width: 100px' %>
              <% end %>
            <% end %>
            <%= content_tag :td, style: 'padding: 16px 24px;' do %>
              <%= link_to product.title, product.product_url, style: 'font-weight: 500; color: #2563eb;' %>
            <% end %>
            <%= content_tag :td, product.price, style: 'padding: 16px 24px; white-space: nowrap;' %>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
