<h1>Nowe ogłoszenia</h1>

<% @products.each do |product| %>
  <ul>
    <%= content_tag :li, product.external_id %>
    <%= content_tag :li do %>
      <a href=<%= product.product_url %>><%= product.product_url %></a>
    <% end %>
    <%= content_tag :li, product.title %>
    <%= content_tag :li, product.price %>
    <%= content_tag :li, product.external_service_name %>
    <%= content_tag :li do %>
      <img src=<%= product.thumbnail_url %> alt="">
    <% end %>
  </ul>
<% end %>
