<div style='padding: 1rem'>
  <h1>Nowe ogłoszenia</h1>
  <%= content_tag :h3, "Dodane ogłoszenia: #{@products.size}" %>
  <table style="width: 100%; border-spacing: 2rem;">
    <% @products.each do |product| %>
      <tr style="background-color: white; border-radius: 0.5rem;">
        <td style="padding: 0.5rem;">
          <%= link_to product.product_url do %>
            <table>
              <tr>
                <td style="width: 150px;">
                  <%= image_tag product.thumbnail_url || 'placeholder-image.jpg', alt: 'Brak zdjęcia', style: 'width: 100%' %>
                </td>
                <td>
                  <table style="height: 100%;">
                    <tr>
                      <td style='font-size: 1.5rem;'><%= product.title %></td>
                    </tr>
                    <tr>
                      <td style='font-size: 1rem;'>
                        <%= content_tag :span, 'Cena: ' %>
                        <%= content_tag :span, product.price %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
