<header class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Wyszukiwania</h1>
  </div>
</header>

<section class="bg-gray-50 p-3 sm:p-5 h-full">
  <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
    <!-- Start coding here -->
    <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
        <div class="w-full md:w-1/2">
          <form class="flex items-center">
            <div class="relative w-full">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <%= inline_svg_tag('icons/search.svg', class: 'w-5 h-5 text-gray-500') %>
              </div>
              <input disabled type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Szukaj po frazie" required="">
            </div>
          </form>
        </div>
        <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
          <%= link_to new_search_path, class: 'flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none' do %>
            <%= inline_svg_tag('icons/plus.svg', class: 'h-3.5 w-3.5 mr-2') %>
            Dodaj wyszukiwanie
          <% end %>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-4 py-3">Nazwa</th>
            <th scope="col" class="px-4 py-3">Status</th>
            <th scope="col" class="px-4 py-3">Data utworzenia</th>
            <th scope="col" class="px-4 py-3">
              <span class="sr-only">Actions</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <% searches.each do |search| %>
            <%= content_tag :tr, class: 'border-b' do %>
              <%= content_tag :th, search.name, class: 'px-4 py-3 font-medium text-gray-900 whitespace-nowrap' %>
              <%= content_tag :td, search.status, class: 'px-4 py-3' %>
              <%= content_tag :td, I18n.l(search.created_at), class: 'px-4 py-3' %>
              <%= content_tag :td, class: 'px-4 py-3 flex items-center justify-end' do %>
                <button id="apple-imac-27-dropdown-button" data-dropdown-toggle="apple-imac-27-dropdown" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
                  <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
                  </svg>
                </button>
                <div id="apple-imac-27-dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
                  <ul class="py-1 text-sm text-gray-700">
                    <li>
                      <%= link_to 'Pokaż szczegóły', search_path(search), class: 'block py-2 px-4 hover:bg-gray-100' %>
                    </li>
                    <li>
                      <%= link_to 'Edytuj', edit_search_path(search), class: 'block py-2 px-4 hover:bg-gray-100' %>
                    </li>
                  </ul>
                  <div class="py-1">
                    <%= link_to 'Usuń', search_path(search), data: { turbo_confirm: 'Jesteś pewny?', 'turbo-method': :delete }, class: 'block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
      <%== render partial: 'pagy/nav', locals: { pagy: } if pagy.pages > 1 %>
    </div>
  </div>
</section>

